<!DOCTYPE html>
<html>
	<head>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>HR系统_demo</title>
	</head>

	<body>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../static/js/materialize.min.js"></script>

		<main>
			<div class="navbar-fixed">
				<nav>
				  <div class="nav-wrapper light-green darken-4">
					<a href="#" class="brand-logo"><img src="" style="width:1em; height:1em;" alt="something to fill in"/>HR系统_demo</a>
				  </div>
				</nav>
			</div>

			<div class="container">
				<!-- don'no how 2 let <div> auto-fit -->
				<br><br>
				<div class="row">
					<form class="col s12 m6 offset-m3 l6 offset-l3">
						<h5 class="center">信息录入</h5>
						<div class="row">
							<div class="progress col s6 offset-s3">
								<div class="indeterminate"></div>
							</div>
							<div class="input-field col s12">
								<input id="name" type="text" class="validate">
								<label for="name">姓名</label>
							</div>
							<div class="col s12">
								<p>性别&nbsp;&nbsp;
								  <input name="gender" type="radio" id="m" class="with-gap" />
								  <label for="m">男</label>
								  <input name="gender" type="radio" id="f" class="with-gap" />
								  <label for="f">女</label>
								  <input name="gender" type="radio" id="s" class="with-gap" disabled="disabled"/>
								  <label for="s">保密</label>
								</p>
							</div>
							<div class="input-field col s12">
								<input id="qq" type="number" class="validate">
								<label for="qq">QQ</label>
							</div>
							<div class="input-field col s12">
								<input id="tel" type="number" class="validate">
								<label for="tel">电话</label>
							</div>
							<div class="input-field col s12">
								<input id="wchat" type="text" class="validate">
								<label for="wchat">微信</label>
							</div>
							<div class="input-field col s12">
								<input id="emg" type="text" class="validate">
								<label for="emg">应急联系方式</label>
							</div>
							<div class="progress col s6 offset-s3">
								<div class="determinate" style="width:54%"></div>
							</div>
							<div class="input-field col s12">
								<input id="school" type="text" class="validate">
								<label for="school">院系</label>
							</div>
							<div class="input-field col s12">
								<input id="class" type="text" class="validate">
								<label for="class">班级</label>
							</div>
							<div class="input-field col s12">
								<input id="apart" type="text" class="validate">
								<label for="apart">寝室（格式：公寓-楼栋号-房间号）</label>
							</div>
							<div class="progress col s6 offset-s3">
								<div class="determinate" style="width:80%"></div>
							</div>
							<div class="col s12">
								<select id="depart">
							      <option value="" disabled selected>部门</option>
							      <option value="财务部">财务部</option>
							      <option value="秘书部">秘书部</option>
							      <option value="人力资源部">人力资源部</option>
								  <option value="社团部">社团部</option>
								  <option value="行政监察部">行政监察部</option>
								  <option value="外联部">外联部</option>
								  <option value="公共关系部">公共关系部</option>
								  <option value="宣传部">宣传部</option>
								  <option value="媒体部">媒体部</option>
								  <option value="思存工作室">思存工作室</option>
								  <option value="新媒体工作室">新媒体工作室</option>
								  <option value="社团外联企划小组">社团外联企划小组</option>
								  <option value="文艺拓展部">文艺拓展部</option>
								  <option value="其它">其它</option>
							    </select>
							    <!--label>Materialize Select</label-->
							</div>
							<div class="input-field col s12 m6">
								<input id="group" type="text" class="validate">
								<label for="group">组别</label>
							</div>
							<div class="input-field col s12 m6">
								<input id="occup" type="text" class="validate">
								<label for="occup">担任职务</label>
							</div>
							<div class="progress col s6 offset-s3">
								<div class="determinate" style="width:98%"></div>
							</div>
							<div class="input-field col s12">
								<input id="id" type="text" class="validate" value="AU">
								<label for="id">社联编号</label>
							</div>
							<div class="col s12">
								<label for="dateofjoin">加入社联的时间</label>
								<input id="dateofjoin" type="date" class="datepicker">
							</div>
							<div class="progress col s6 offset-s3">
								<div class="determinate green darken-1" style="width:100%"></div>
							</div>
							<div class="col s3 offser-s9">全部填完了!</div>
						</div>
						<button class="btn waves-effect waves-light right" type="submit" name="action">提交
						  <i class="material-icons right">send</i>
						</button>
						<font class="col s12 red-text left">
							<br>
							{% for msg in get_flashed_messages() %}
							{{ msg }}
							{% endfor %}
						</font>
					</form>
				</div>
			</div>



		</main>

		<script>
		/* used in department selection */
		$(document).ready(function() {
		   $('select').material_select();
		});
		/* used in join-date */
		$('.datepicker').pickadate({
			selectMonths: true, // Creates a dropdown to control month
			selectYears: 15 // Creates a dropdown of 15 years to control year
		});
			/* not yet into use *
			$(document).ready(function(){
				$('.parallax').parallax();
			}); */
			/* not yet understood *
			$('.button-collapse').sideNav('show');
			$('.collapsible').collapsible();
			$('.button-collapse').sideNav('hide');
			$('.button-collapse').sideNav('destroy'); */
		</script>
	</body>
</html>
