<!DOCTYPE html>
<html>
	<head>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../static/js/materialize.min.js"></script>

		<main>
			<script>
				$(document).ready(function(){
					$('.parallax').parallax();
				});
				$('.button-collapse').sideNav('show');
				$('.collapsible').collapsible();
				$('.button-collapse').sideNav('hide');
				$('.button-collapse').sideNav('destroy');
			</script>


			<ul id="slide-out" class="side-nav">
				<li>
					<div class="userView">
						<a href="#!name"><span class="white-text name">John Doe</span></a>
						<a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
					</div>
				</li>
				<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
				<li><a href="#!">Second Link</a></li>
				<li><div class="divider"></div></li>
				<li><a class="subheader">Subheader</a></li>
				<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
	        </ul>



			<div class="parallax-container z-depth-2">
				<div class="parallax"><img src="../static/img/para.jpg" alt="should be a parallax image here..."></div>
				<div class="container">
					<a  href="#" data-activates="slide-out" class="btn button-collapse waves-effect waves-light">Hello, World!</a>
					<h1 class="header center-on-small-only white-text">Hello World!</h1>
					<h4 class ="header center-on-small-only white-text light">中文测试：你好，世界！</h4>
				</div>
			</div>

			<div class="fixed-action-btn">
				<a class="btn-floating btn-large cyan darken-3" href="#">
					<i class="large material-icons">mode_edit</i>
				</a>
			</div>

			<!-- blog contents down here -->
			<div class="container">
				<div class="card-panel hoverable">
					<h3 id="First" class="light header">First</h3>
					<p class="col light" style="font-size:18px">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.</p>
				</div>
				<div class="card-panel hoverable">
					<h3 id="Second" class="light header">Second</h3>
					<p class="col light" style="font-size:18px">Mary had a little lamb. Mary had a little lamb. Mary had a little lamb. Mary had a little lamb. Mary had a little lamb. Mary had a little lamb. Mary had a little lamb. Mary had a little lamb. Mary had a little lamb. Mary had a little lamb. Mary had a little lamb. Mary had a little lamb.Mary had a little lamb. Mary had a little lamb.</p>
				</div>
				<div class="card-panel hoverable">
					<h3 id="Third" class="light header">Third</h3>
					<p class="col light" style="font-size:18px">May the force be with you! May the force be with you! May the force be with you! May the force be with you! May the force be with you! May the force be with you! May the force be with you! May the force be with you! May the force be with you! May the force be with you! May the force be with you! May the force be with you! May the force be with you! </p>
				</div>
			</div>


		</main>



	</body>
</html>
